
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutKullanici.cshtml";
}


<main class="main" style="margin-top:100px;" role="main">
    <!--wrap-->
    <div class="wrap clearfix">
        <!--row-->
        <div class="row">
        
            <!--content-->
            <section class="content center full-width">
                <div class="modal container">
                    @if (ViewBag.sonuc != null)
                    {
                        <div class="alert alert-danger " role="alert">
                            @ViewBag.sonuc
                        </div>
                    }
                    <h3>Giriş</h3>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="f-row">
                            <input name="eposta" type="email" placeholder="Eposta adresinizi girin" maxlength="25" required />
                        </div>
                        <div class="f-row">
                            <input name="sifre" type="password" placeholder="Sifrenizi giriniz" maxlength="15" minlength="4" required />
                        </div>

                    <br />  

                        <div class="f-row bwrap">
                            <input type="submit" value="Giriş" />
                        </div>
                        <p><a href="/Login/SifremiUnuttum">Sifremi unuttum !</a></p>
                        <p>Henüz kayıt olmadınız mı? <a href="/AnaSayfa/KayıtOl">Kayıt ol.</a></p>
                    }
                </div>
            </section>
            <!--//content-->
        </div>
        <!--//row-->
    </div>
    <!--//wrap-->
</main>

