
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutKullanici.cshtml";
}

@if (ViewBag.sonuc != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.sonuc
    </div>
}
<main class="main" style="margin-top:100px;" role="main">
    <!--wrap-->
    <div class="wrap clearfix">
        <!--row-->
        <div class="row">

            <!--content-->
            <section class="content center full-width">
                <div class="modal container">
                    <h3>Giriş</h3>
                    @using (Html.BeginForm())
                    {
                        <div class="f-row">
                            <input name="eposta" type="text" placeholder="Eposta adresinizi girin" />
                        </div>
                        <div class="f-row">
                            <input name="sifre" type="password" placeholder="Sifrenizi giriniz" />
                        </div>

                        <div class="f-row">
                            <input type="checkbox" />
                            <label>Beni Hatirla</label>
                        </div>

                        <div class="f-row bwrap">
                            <input type="submit" value="Giriş" />
                        </div>
                        <p>Henüz kayıt olmadiniz mi? <a href="register.html">Kayıt ol.</a></p>
                    }
                </div>
            </section>
            <!--//content-->
        </div>
        <!--//row-->
    </div>
    <!--//wrap-->
</main>

