@model List<Kategori>


    <ul class="boxed">
        @foreach (var kategori in @Model)
        {
            <li class="light"><a href="/Anasayfa/Arama/@kategori.kategoriID" title="@kategori.kategoriAdi"><img src="/Content/Resimler/Kategoriler/@kategori.resim"/> <span>@kategori.kategoriAdi</span></a></li>

        }
    </ul>