@model List<Kullanici>


    <h3>Kullanicilar</h3>
    <div id="members-list-options" class="item-options">
    </div>
    <ul class="boxed">
        @foreach (var kul in @Model)
        {
            <li><div class="avatar"><a href="/Anasayfa/KullaniciArama/@kul.kullaniciID"><img src="~/Content/Resimler/Kullanicilar/@kul.resim" alt="@kul.ad"></a><span>@kul.ad</span></div></li>
        }


    </ul>
